@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>

Demonstrates how to authorize by role in Blazor WebAssembly .NET 7 - Blazor School
<br />
If you are looking for more Blazor WebAssembly tutorials, go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.

<div><NavLink href="role-authorization-demonstration">Authorize by Role</NavLink></div>