@page "/logout"
@using AuthenticateCommonMistake1.Utils;
@inject BlazorSchoolAuthenticationStateProvider BlazorSchoolAuthenticationStateProvider

<h3>Logout</h3>
<button @onclick="BlazorSchoolAuthenticationStateProvider.Logout">Logout</button>
